{% extends 'base.html' %}
{% import 'macros/pagination.html' as pagination_macro %}

{% block title %}{{ author['full_name'] }}’s photos{% endblock %}

{% block header %}
  <div class="media">
    <div class="media-left">
      <figure class="profile-picture image is-96x96">
          <img src="{{ author['profile_pic_url'] }}" alt="{{ author['username'] }}">
        </figure>
    </div>
    <div class="media-content">
      <h1 class="title is-1">{{ author['full_name'] }}</h1>
      <p class="subtitle is-3">@{{ author['username'] }}</p>
      <p class="content" style="white-space: pre-line;">{{ author['biography'] }}</p>
      {% if author['external_url'] != None %}
      <p class=""><a href="{{ author['external_url'] }}">{{ author['external_url'] }}</a></p>
      {% endif %}
      <p class="">
        <a href="https://instagram.com/{{ author['username'] }}/">
          View <strong>@{{ author['username'] }}</strong>’s profile on Instagram ↗
        </a>
      </p>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="buttons has-addons">
    <a class="button is-small{% if display_as_feed == False %} is-selected is-dark{% endif %}" href="{{ url_for('profile', username = author['username']) }}">
      <span>Grid</span>
    </a>
    <a class="button is-small{% if display_as_feed == True %} is-selected is-dark{% endif %}" href="{{ url_for('profile', username = author['username'], display = 'feed') }}">
      <span>Feed</span>
    </a>
  </div>

  {% if display_as_feed == True %}

    {% for post in posts %}
        {% include 'partials/full_card.html' %}
    {% endfor %}

  {% else %}

    <div class="columns is-multiline">
    {% for post in posts %}
      {% include 'partials/mini_card.html' %}
    {% endfor %}
    </div>

  {% endif %}

  {{ pagination_macro.render_pagination(pagination) }}
{% endblock %}

