{% extends 'base.html' %}

{% block title %}{{ author['full_name'] }}’s lists{% endblock %}

{% block header %}
  <div class="media">
    <div class="media-left">
      <figure class="profile-picture image is-96x96">
          <img src="{{ author['profile_pic_url'] }}" alt="{{ author.username }}">
      </figure>
      <p><br><a class="button is-small is-outlined is-info" href="{{ url_for('list_choices_for_user', username = author.username) }}">Add to list 🔖</a></p>
    </div>
    <div class="media-content">
      <h1 class="title is-1">{{ author['full_name'] }}</h1>
      <p class="subtitle is-3">@{{ author.username }}</p>
      <p class="content" style="white-space: pre-line;">{{ author['biography'] }}</p>
      {% if author['external_url'] != None %}
      <p class=""><a href="{{ author['external_url'] }}">{{ author['external_url'] }}</a></p>
      {% endif %}
      <p class="">
        <a href="https://instagram.com/{{ author.username }}/">
          View <strong>@{{ author.username }}</strong>’s profile on Instagram ↗
        </a>
      </p>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="tabs">
    <ul>
      <li><a href="{{ url_for('profile', username = author.username) }}">Grid</a></li>
      <li><a href="{{ url_for('profile', username = author.username, display = 'feed') }}">Feed</a></li>
      <li class="is-active"><a href="{{ url_for('profile_lists', username = author.username) }}">Lists</a></li>
    </ul>
  </div>


  <ul>
  {% for list in lists %}
    <li class="level">
      <span class="level-left">
        <strong class="is-size-5"><a href="{{ url_for('list_feed', shortname = list.shortname) }}">{{ list.longname }}</a></strong>&nbsp;&nbsp;
        <small>({{ list.count }} accounts followed)</small>
      </span>
      <span class="level-right">
        <a href="{{ url_for('list_remove_user', shortname = list.shortname, username = author.username) }}" class="button is-small is-danger is-outlined">Remove from list</a>
      </span>
    </li>
  {% endfor %}
  </ul>


{% endblock %}

