    <article class="card full-card" id="{{ post['shortcode'] }}">

      <header class="card-header">
        <div class="is-flex card-header-title">
          <a href="{{ url_for('profile', username = post['owner_username']) | replace('%40', '@') }}">
            <figure class="profile-picture image is-64x64">
              <img src="{{ post['owner_profile_pic_url'] }}" alt="{{ post['owner_username'] }}">
            </figure>
          </a>
          &nbsp;
          &nbsp;
          <p>
            <a href="{{ url_for('profile', username = post['owner_username']) | replace('%40', '@') }}">
              <span class="title is-5">{{ post['owner_full_name'] }}</span><br>
              <span class="subtitle is-6">@{{ post['owner_username'] }}</span>
            </a>
          </p>
        </div>
        <div class="card-header-icon">
          {% if request.url_rule.endpoint == 'index' %}
          <span class="has-text-right">
            <a title="Hide account from feed 🙈" class="button is-small is-outlined is-info" href="{{ url_for('hide_account', username = post.owner_username, from = 'feed') }}">Hide account 🙈</a><br>
            <a title="Add to list 🔖" class="button is-small is-outlined is-info" href="{{ url_for('list_choices_for_user', username = post.owner_username) }}">Add account to list 🔖</a>
          </span>
          {% else %}
          <a class="button is-small is-outlined is-info" href="{{ url_for('list_choices_for_user', username = post.owner_username) }}">Add to list 🔖</a>
          {% endif %}
        </div>
      </header>

      <div class="card-image">
        {% if post['media_type'] == 'GraphImage' %}
        <figure class="image is-square">
          <img src="{{ post['display_url'] }}" alt="A photo by {{ post['owner_full_name'] }}">
        </figure>
        {% elif post['media_type'] == 'GraphSidecar' %}
          <div class="sidecar slider" data-slider>
            <div class="slides">
              {% for image in post['sidecar']['edges'] %}
              <div class="">
                <figure class="image is-square"><img src="{{ image['node']['display_url'] }}" alt="A photo by {{ post['owner_full_name'] }}"></figure>
              </div>
              {% endfor %}
            </div>
            <div data-slider-nav></div>
          </div>

        {% endif %}
      </div>

      <div class="card-content">
        <a href="{{ url_for('media', media_shortcode = post['shortcode']) }}">
          <div class="content" style="white-space: pre-line;">{{ post['caption'] }}</div>
          <p class="is-size-7 is-marginless">
            <time datetime="{{ post['timestamp'].strftime('%Y-%m-%d') }}">{{ post['timestamp'].strftime('%Y-%m-%d %H:%m') }}</time>
          </p>
        </a>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item is-centered">
          <a href="https://instagram.com/p/{{ post['shortcode'] }}" target="_blank" noopener>View original ↗</a>
        </p>
        <p class="card-footer-item is-centered">
          {{ post['likes'] }} 👍
        </p>
        <p class="card-footer-item is-centered">
          {{ post['comments'] }} 💬
        </p>
        <p class="card-footer-item is-centered">
          {% if post['is_saved'] == False %}
          <a class="saveButton" href="{{ url_for('save', media_shortcode = post['shortcode'], origin = post['origin'], display = 'feed') }}#{{ post['shortcode'] }}">Save 💾</a>
          {% else %}
          <a class="saveButton" href="{{ url_for('forget', media_shortcode = post['shortcode'], origin = post['origin'], display = 'feed') }}#{{ post['shortcode'] }}">Forget 💾</a>
          {% endif %}
        </p>
      </footer>
    </article>
