{% extends 'base.html' %}

{% block header %}
  <h1 class="title">{% block title %}📇 Import contacts{% endblock %}</h1>

  <p>Enter one contact name per line.</p>

{% endblock %}

{% block content %}

  
<form action="{{ url_for('import_from_form') }}" method="post">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="contacts"  class="label">Contacts</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <textarea id="contacts" name="contacts" class="textarea{% if errors is defined %} is-danger{% endif %}" placeholder="" rows="10"></textarea>
        </p>
        {% if errors is defined %}
        <p class="help is-danger">
          {{ errors }}
        </p>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-info" type="submit">
            Import these contacts
          </button>
        </div>
      </div>
    </div>
  </div>
</form>



{% endblock %}