{% extends 'base.html' %}

{% block header %}
  <h1 class="title">{% block title %}🗄 Import successful{% endblock %}</h1>


{% endblock %}

{% block content %}
  {% if import_count|int > 1 %}
    <p>{{ import_count }} contacts were imported.</p>
  {% elif import_count|int > 0 %}
    <p>{{ import_count }} contacts was imported.</p>
  {% endif %}
  {% if contacts_not_ok|count > 1 %}
    <p>Import for the follonwing accounts failed:</p>
    <ul>
    {% for contact in contacts_not_ok %}
      <li>{{ contact }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <p>See your contacts on the <a href="{{ url_for('feed.index') }}">Feed</a></p>

{% endblock %}
