{% extends 'base.html' %}

{% block header %}
  <div class="level">
    <h1 class="title is-marginless level-left">
      <span class="is-size-3" role="img" aria-label="List">🙈</span>&nbsp;
      {% block title %}Hidden accounts{% endblock %}
    </h1>
  </div>

  <p>These accounts are hidden on your main Feed, but they can appear in lists. They are not deleted from your Pyctogram subscriptions.</p>
{% endblock %}

{% block content %}

  <ul>
  {% for account in accounts %}
    <li class="level">
      <span class="level-left">
        <a href="{{ url_for('account.profile', account_name = account.account_name) | replace('%40', '@') }}">
          <figure class="profile-picture image is-48x48">
              <img src="{{ account.profile_pic_url }}" alt="{{ account.full_name }}">
          </figure>
        </a> &nbsp;&nbsp;
        <a href="{{ url_for('account.profile', account_name = account.account_name) | replace('%40', '@') }}" class="is-black">
          <strong>{{ account.full_name }}</strong><br>
          <small>@{{ account.account_name }}</small>
        </a>
      </span>
      <span class="level-right buttons">
        <a href="{{ url_for('list.list_choices_for_user', account_name = account.account_name) }}" class="button is-small is-info is-outlined">Add to list 🔖</a>
        <a href="{{ url_for('account.show_account', account_name = account.account_name, from = 'unhide') }}" class="button is-small is-info is-outlined">Unhide 🐵</a>
      </span>
  </li>
  {% endfor %}
  </ul>
  {% if not accounts %}
    <p>🐵 Nothing to see here yet!</p>
  {% endif %}
{% endblock %}
