{% extends 'base.html' %}
{% import 'macros/pagination.html' as pagination_macro %}

{% block title %}{{ title_emojo }} Feed{% endblock %}

{% block header %}
  <div class="level">
    <div class="level-left">
      <h1 class="title">
        <span class="is-size-3" role="img" aria-label="Picture">{{ title_emojo }}</span>&nbsp;Feed
      </h1>
    </div>
    <div class="level-right">
      <small class="is-size-7"><a href="{{ url_for('list_hidden_accounts') }}" class="">See hidden accounts 🙈</a></small>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% for post in posts %}
    {% include 'partials/full_card.html' %}
  {% endfor %}
  {{ pagination_macro.render_pagination(pagination) }}
{% endblock %}
