{% extends 'base.html' %}
{% import 'macros/pagination.html' as pagination_macro %}

{% block title %}{{ author.full_name }}’s photos{% endblock %}

{% block header %}
  <div class="media">
    <div class="media-left">
      <figure class="profile-picture image is-96x96">
          <img src="{{ author.profile_pic_url }}" alt="{{ author.account_name }}">
      </figure>
      <br>
      <ul class="has-text-centered">
        {% set origin = 'profile:@' ~ author.account_name ~ ':' ~ pagination.page %}
        {% if display_as_feed == True %}
            {% set origin = 'profile_feed:@' ~ author.account_name ~ ':' ~ pagination.page %}
        {% endif %}

{#        <li><a class="button is-small is-outlined is-info" href="{{ url_for('list_choices_for_user', account_name = author.account_name, origin = origin) }}">Add to list 🔖</a></li><br>#}
{#        {% if account_is_hidden(author.id) %}#}
{#          <li><a title="Unhide from feed 🐵" href="{{ url_for('show_account', account_name = author.account_name, origin = origin) }}" class="button is-small is-info is-outlined">Unhide 🐵</a></li>#}
{#        {% else %}#}
{#          <li><a title="Hide from feed 🙈" href="{{ url_for('hide_account', account_name = author.account_name, origin = origin) }}" class="button is-small is-info is-outlined">Hide 🙈</a></li>#}
{#        {% endif %}#}
      </ul>
    </div>
    <div class="media-content">
      <h1 class="title is-1">{{ author.full_name }}</h1>
      <p class="subtitle is-3">@{{ author.account_name }}</p>
      <p class="content" style="white-space: pre-line;">{{ author.biography }}</p>
      {% if author['external_url'] != None %}
      <p class=""><a href="{{ author.external_url }}">{{ author.external_url }}</a></p>
      {% endif %}
      <p class="">
        <a href="https://instagram.com/{{ author.account_name }}/">
          View <strong>@{{ author.account_name }}</strong>’s profile on Instagram ↗
        </a>
      </p>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="tabs">
    <ul>
      <li class="{% if display_as_feed == False %}is-active{% endif %}"><a href="{{ url_for('account.profile', account_name = author.account_name) | replace('%40', '@') }}">Grid</a></li>
      <li class="{% if display_as_feed == True %}is-active{% endif %}"><a href="{{ url_for('account.profile', account_name = author.account_name, display = 'feed') | replace('%40', '@') }}">Feed</a></li>
{#      <li><a href="{{ url_for('profile_lists', account_name = author.account_name) | replace('%40', '@') }}">Lists</a></li>#}
    </ul>
  </div>



  {% if display_as_feed == True %}

      {% include 'partials/full_card_feed.html' %}

  {% else %}

    <div class="columns is-multiline">
    {% for post in posts %}
      {% include 'partials/mini_card.html' %}
    {% endfor %}
    </div>

  {% endif %}

  {{ pagination_macro.render_pagination(pagination) }}
{% endblock %}

